[submodule "packages/shikaku"]
	path = packages/shikaku
	url = git@github.com:prxxie/cozyos-shikaku.git
[submodule "packages/sokoban"]
	path = packages/sokoban
	url = git@github.com:prxxie/cozyos-sokoban.git
[submodule "packages/slitherlink"]
	path = packages/slitherlink
	url = git@github.com:prxxie/cozyos-slitherlink.git
