[submodule "packages/shikaku"]
	path = packages/shikaku
	url = ../cozyos-shikaku.git
[submodule "packages/sokoban"]
	path = packages/sokoban
	url = ../cozyos-sokoban.git
[submodule "packages/slitherlink"]
	path = packages/slitherlink
	url = ../cozyos-slitherlink.git
